
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 5px;
    text-align: center;
}

.navbar img {
	padding-left: 30px;
	outline-color: white;
}

#toggleBtn {
    background-color: #333;
    color: #fff;
    border: 5px double;
	border-radius: 5px;
    cursor: pointer;
}

#subNavbar{
	display: inline;
	color: white;
	padding-left : 500px;
	font-size: 15px;
	padding-top: 4px;
}

#cartBTN{
	font-size: 1.5em;
}

.navbar a {
	color : White;
	padding: 10px;
}

.navbar a:hover {
	color: pink;
}

.sidebar {
    width: 150px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    margin-left: 20px;
    padding: 20px;
}

#Under-Development {
	text-align: center;
	padding: 80px;
}

#copyrightFoot {
	text-align: center;
}